:root {

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}


.btn-menu {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 12px;

  border: none;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

